version: '3.6'

services:
  ubuntu:
    build:
      context: .
      network: host
    network_mode: host
    volumes:
      - ./debootstrap:/usr/local/src/build/debootstrap.bak
      - ./out:/usr/local/src/build/out
      - ./pkg:/var/cache/apt/archives
      - ./src:/usr/local/src/build/src
